<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.getblood">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_need_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.GoogleFillActivity"
            android:label="@string/title_activity_google_fill"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LikesActivitty"
            android:label="@string/title_activity_likes_activitty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SettingActivity1"
            android:label="@string/title_activity_setting1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PostDetail"
            android:theme="@style/MyAppActionBarTheme" />
        <activity
            android:name=".Activities.PostActivity"
            android:label="@string/title_activity_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProfileImage"
            android:label="@string/title_activity_profile_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SpecifiProfile"
            android:label="@string/title_activity_specifi_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddressActivity"
            android:label="@string/title_activity_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".Activities.LoginViaEmail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.OTPActivity"
            android:label="@string/title_activity_o_t_p"
            android:parentActivityName=".Activities.CommunicationDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SelectBlood"
            android:label="@string/title_activity_select_blood"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ScrollActivity" />
        <activity
            android:name=".Activities.DateOfBirth"
            android:label="@string/title_activity_date_of_birth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ImagePickerActivity" />
        <activity
            android:name=".Activities.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.login_password"
            android:label="@string/title_activity_login_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CommunicationDetails"
            android:label="@string/title_activity_communication_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.GenderActivity"
            android:label="@string/title_activity_gender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NameActivity"
            android:label="@string/title_activity_name"
            android:parentActivityName=".Activities.LogInOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ContiueFacebook"
            android:label="continuefacebook"
            android:parentActivityName=".Activities.LogInOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Createaccount"
            android:label="createaccount"
            android:parentActivityName=".Activities.LogInOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LogInOptions"
            android:label="loginoption"
            android:parentActivityName=".Activities.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.LoginViaEmail" />
        <activity android:name=".Activities.Donor" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>